/* navv */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.App{
overflow-x: hidden;
height: 100vh;
 font-family: 'Roboto', sans-serif;
}
.nav-wrapper{
  background-color: #121212;
  padding: 5px 0px;
}
.button-hover:hover{
  background-color: #252525 !important;

}

.details{
  color: #5799EF;
}
.details:hover{
  text-decoration: underline;
}
.form-control:focus{
  box-shadow: none !important;
}
.imdb-tittle{
  background-color: #E2B616;
  padding: 2px 7px;
  font-size: 20px;
  border-radius: 5px;
font-weight: 600;
}
.form-container{
  display: flex;
  padding-top: 20px;
  flex-wrap: wrap;
  overflow-y: auto;
  width: 60vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:93vh;
}

.submit-btn{
  border: none !important;
  background-color: #E2B616 !important;
  width:100%!important;
}

.sidebar{
width: 27vw;
overflow-y: auto;
  background-color: #121212;
  height: 100vh;
  color: white !important;
}

li{
  cursor: pointer;
  list-style: none !important;
}
Link{
  text-decoration: none !important;

  color: transparent !important;
}
Link:hover{
  color: transparent !important;
}
.form-select {
  background-image: none !important;
}
.all-movies-list{
  background-color:black;
  height: 100vh;
  overflow: auto;

}
.all-movies-list::-webkit-scrollbar-thumb {
  background: #888 !important;
}
.total-movies{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.movie-container {
  display: flex;
  flex-wrap: wrap;
  gap:20px
}

@media only screen and (max-width: 600px) {
  .sidebarAndMoviesDetails {
    flex-direction: row;
  }
  .form-container{
    margin-left: 15px;
  }
.singlemoviesdetails{
  background-color: red !important;

}

 .all-movies-list{

  background-color:transparent !important;
 }
 .singlemoviesdetails{
  width: 50vw;
  max-height:500px;
  overflow-y: auto;
.card{
  width: "50vw"
}
 }

  .col-md-3, .col-sm-3 {
    flex: 1;
  }
  .movie-card {
    width: 50vw !important;
    margin-right: 18px;

  }
  .col-md-9, .col-sm-9 {
    flex: 3;
  }
}

.movie-card {
  width: 30%;
  height: 290px;
  display: flex;
  flex-direction: column;
  gap:20px;
  padding: 20px 30px;
  border: 1px solid #ddd;
  position: relative; /* Add this line */
}
.details-font{
 font-weight: 400 ;
}
.button-container {
  position: absolute;
  bottom: 0;
  width:80%;

}

.single-movie-actors{

max-height: 40px;
}
.hole-edit-movies{
  background-color: red;
  width: 100%;
  height: 91vh;  
}


.titleFont{
  font-weight: 800;
}

.old-user{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-weight: 700;
}


.single-movie-actors {
  height: 45px; /* Adjust height as needed */
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  max-height: 220px;
  gap: 5px;
}
.single-movie-actors::-webkit-scrollbar {
  width: 12px;
}


.actor-name {

padding-top:6px  ;
  border-radius: 5px;
text-align: center;
  color: #fff;
  font-size: 13px;
}

.moviesDetails{
  font-size: 13px;
}